:root {
  --bg-button: #5f6062;
  --bg-button-dark: #3f4143;
  --border-button: 1px solid#2B2D2F;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  color: #ffffff;
  outline: none;
}

.button:active {
  background-color: #ccc;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: #ff9f0c;
}

.button.operation:active {
  background-color: #ff9f0ccc;
}

.button.dark {
  background-color: var(--bg-button-dark);
}

.button.dark:active {
  background-color: var(--bg-button-dark);
}
